.block-radio {
  display: flex;
  flex-direction: column;
  gap: var(--size-2);
}
.block-radio__items:empty {
  display: none;
}
.block-radio__item-indicator {
  background-color: var(--N25);
  width: 15px;
  height: 15px;
  border-radius: 100%;
  border: var(--basic-border);
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.block-radio__item:first-child .block-radio__item-indicator {
  background-color: var(--P50);
  border: var(--activ-border);
  &:after {
    content: '';
    display: block;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: var(--P300);
  }
}
