.table-field .ui-table .ui-table-row .ui-table-cell {
  padding: 0px;
}

.table-field .ui-table .ui-table-cell .ui-fieldset {
  gap: 0;
}

.table-field .ui-table-cell .ui-inputgroup,
.table-field .ui-table-cell .ui-input,
.table-field .ui-table-cell .ui-inputgroup:focus-within {
  border: none;
  background-color: unset;
}

.table-field .ui-table .ui-table-row[data-state='selected'] .ui-input {
  color: white;
}
