.block-button {
  --button-bg: var(--N600);
  --button-color: var(--background);
  background-color: var(--button-bg);
  color: var(--button-color);
  display: flex;
  border: none;
  margin: 0;
  padding: 0;
  outline: 0 none;
  border-radius: var(--border-r2);
  align-items: center;
  justify-content: center;
  gap: var(--size-2);
  padding: var(--size-2) var(--size-4);
}
.block-button[data-icon='true'] {
  padding: var(--size-2);
}
.block-button:hover {
  background-color: color-mix(in srgb, var(--button-bg), transparent 10%);
}
.block-button[data-variant='primary'] {
  --button-bg: var(--P300);
  --button-color: var(--background);
}
.block-button[data-variant='success'] {
  --button-bg: var(--success-color);
  --button-color: var(--background);
}
.block-button[data-variant='danger'] {
  --button-bg: var(--error-color);
  --button-color: var(--background);
}
.block-button[data-variant='warning'] {
  --button-bg: var(--warning-color);
  --button-color: var(--background);
}
.block-button[data-variant='info'] {
  --button-bg: var(--P75);
  --button-color: var(--background);
}
.block-button[data-variant='help'] {
  --button-bg: var(--P500);
  --button-color: var(--background);
}
.block-button[data-style='solid'] {
  border: none;
}

.block-button[data-style='flat'] {
  background-color: transparent;
  color: var(--button-bg);
  border: none;
}

.block-button[data-style='outlined'] {
  background-color: transparent;
  color: var(--button-bg);
  border: 1px solid var(--button-bg);
}

.block-button[data-rounded='true'] {
  border-radius: 40px;
}
