.canvas {
  border: var(--basic-border);
  background-color: var(--background);
  display: flex;
  flex-direction: column;
  margin: var(--size-4);
  padding: var(--size-2);
  overflow: auto;
  border-radius: var(--border-r2);
  --draw-padding: var(--size-2) var(--size-4);
  --draw-margin: var(--size-2);
  --select-border: 1.5px solid var(--N100);
  --layout-border-size: 1.5px;
  &[data-responsive-mode='tablet'] {
    width: 800px;
    margin-inline: auto;
  }
  &[data-responsive-mode='mobile'] {
    width: 640px;
    margin-inline: auto;
  }
  &[data-help-paddings='false'] {
    padding: var(--size-2);
    gap: var(--size-2);
    --draw-padding: 0;
    --select-border: 0;
    --layout-border-size: 0;
    --draw-margin: 0;
    .empty-block {
      display: none;
    }
  }
}

.delete-drop-zone {
  display: none;
  position: fixed;
  --zone-size: 3rem;
  --zone-font-size: 1rem;
  bottom: calc(var(--zone-size) / -2);
  left: calc(50% - var(--zone-size) / 2);
  width: var(--zone-size);
  height: var(--zone-size);
  background-color: var(--N100);
  border-radius: 50%;
  border: 1px dashed var(--error-color);
  font-size: var(--zone-font-size);
  .delete-icon {
    position: absolute;
    top: calc(var(--zone-size) / 2 - var(--zone-font-size) - 2px);
    width: 100%;
    text-align: center;
  }
  &.dnd-active {
    display: block;
  }
  &.is-drop-target {
    border: 1px solid var(--error-color);
    --zone-size: 4rem;
    --zone-font-size: 20px;
    background-color: rgb(from var(--error-color) r g b / 0.2);
    .delete-icon {
      color: var(--error-color);
    }
  }
}
