.draggable {
  padding: var(--draw-padding, var(--size-2) var(--size-4));
  border: var(--select-border);
  border-radius: var(--border-r2);
  margin: var(--draw-margin);
  &.dragging {
    opacity: 0.5;
  }
  &.validation {
    &:where(.error) {
      border: 1.5px solid var(--error-color);
      background-color: hsl(from var(--error-color) h s l / 0.1);
    }
    &:where(.warning) {
      border: 1.5px solid var(--warning-color);
      background-color: hsl(from var(--warning-color) h s l / 0.1);
    }
  }
  &.dragging,
  &.selected,
  &:hover:not(:has(.draggable:hover)),
  &:hover:not(:has(.draggable:hover)) > .block-layout > div {
    border: var(--select-active-border);
    background-color: var(--P50);
  }
  &.dragging {
    cursor: grabbing;
  }
}
