.drop-zone {
  display: flex;
  flex-direction: column;
  min-width: 0;
  &.is-drop-target {
    &:has(.drag-hint) .drop-zone-block {
      height: 0;
    }
    > .drop-zone-block {
      background: var(--P300);
      height: 4px;
    }
    > .drag-hint {
      background: var(--P300);
      color: var(--background);
    }
  }
  .drop-zone-block {
    height: 0;
    transition: height 0.1s ease-out;
  }
}
