.drop-zone {
  display: flex;
  flex-direction: column;
  min-width: auto;
  .align-self-end {
    justify-content: flex-end;
  }
  .align-self-center {
    justify-content: center;
  }
  &.is-drop-target {
    &:has(.drag-hint) .drop-zone-block {
      height: 0;
    }
    > .drop-zone-block {
      background: var(--P300);
      height: 4px;
    }
    > .drag-hint {
      background: var(--P300);
      color: var(--background);
    }
    > .canvas-empty-message {
      background: var(--P50);
    }
  }
  .canvas-empty-message {
    height: 100%;
  }
  .drop-zone-block {
    height: 0;
    transition: height 0.1s ease-out;
  }
}
