.palette {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid black;
    justify-content: center;
    position: relative;
  }
  .palette-category {
    display: flex;
    flex-direction: column;
  }
  .palette-category-title {
    background-color: var(--N200);
    padding: var(--size-2);
  }
  .palette-category-items {
    display: flex;
    flex-wrap: wrap;
    gap: var(--size-1);
    padding: var(--size-1);
  }