.checkbox-button {
  background-color: var(--N25);
  border-radius: var(--border-r1);
  border: var(--basic-border);
  width: 17px;
  height: 17px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.checkbox-icon {
  color: var(--P300);
}

.checkbox-button.checkbox-checked {
  background-color: var(--P50);
  border: var(--activ-border);
}
