.header-block__label {
  width: 100%;
}

.canvas .ui-badge-label {
  background: transparent;
  border: none;
  color: inherit;
  min-height: auto;
  width: auto;
  padding: 0;
  line-height: inherit;
  font-size: inherit;
  display: flex;
  overflow: hidden;
  .ui-input-badge-item {
    padding: 0;
    margin-inline: 3px;
  }
}

.canvas[data-help-paddings='false'] .ui-input-badge-item {
  font-style: italic;
  background: inherit;
  color: inherit;
  border: none;
  gap: 0;
  .ivy {
    display: none;
  }
}
