.palette-item {
  background: var(--N50);
  border-radius: var(--border-r2);
  padding: var(--size-2);
  font-size: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 60px;
  width: 80px;
  cursor: grab;
}

.palette-item svg path {
  fill: var(--N600);
}
