.palette {
  width: 320px;
  max-height: 500px;
  overflow-y: auto;
}

.palette-items-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

@media (max-width: 500px) {
  .palette {
    width: 210px;
  }
}
