.editor-area {
  display: grid;
  width: 100%;
  grid-template-areas: 'canvas properties';
  grid-auto-columns: minmax(250px, 100%) minmax(150px, 250px);
}
.palette-sidebar {
  grid-area: palette;
  height: 100vh;
  border-right: var(--basic-border);
}
.palette-header {
  width: 100%;
  display: flex;
  flex-direction: row;
  height: 48px;
  background-color: var(--background);
  box-shadow: var(--editor-shadow);
  position: relative;
}
.canvas-block {
  grid-area: canvas;
  height: calc(100vh - 2rem);
  margin: 1rem;
}
.properties-sidebar {
  grid-area: properties;
  right: 0;
  top: 0;
  background-color: white;
  width: 20vw;
  height: 100vh;
  border-left: var(--basic-border);
  visibility: collapse;
}

.show {
  visibility: visible;
}
