.table-field {
  > .ui-fieldset-label .ui-label {
    line-height: 20px;
  }
  .ui-table .ui-table-row:not(.ui-message-row) {
    .ui-table-cell {
      padding: 0px;
      .ui-inputgroup,
      .ui-input,
      .ui-inputgroup:focus-within {
        border: none;
        background-color: unset;
      }
    }
    .ui-fieldset {
      gap: 0;
    }
    .ui-input {
      color: inherit;
    }
  }
}
