.block-layout {
  gap: var(--size-4);
}
.block-layout.grid {
  display: grid;
}
.block-layout.flex {
  display: flex;
}
.block-layout.grid.grid2 {
  grid-template-columns: repeat(2, 1fr);
}
.block-layout.grid.grid4 {
  grid-template-columns: repeat(4, 1fr);
}
.block-layout.grid.grid4[data-responsive-mode='tablet'] {
  grid-template-columns: repeat(2, 1fr);
}
.block-layout.grid.grid2[data-responsive-mode='mobile'],
.block-layout.grid.grid4[data-responsive-mode='mobile'] {
  grid-template-columns: 1fr;
}

.block-layout.flex.justify-end {
  justify-content: flex-end;
}

.block-layout > div {
  border: var(--layout-border-size) solid transparent;
}
.selected > .block-layout > div {
  border: var(--layout-border-size) dashed var(--P75);
}
