.block-flex {
  display: flex;
  flex-direction: row;
  gap: var(--size-4);
  flex-wrap: wrap;
}
.block-flex > div {
  flex: 1 1 calc(50% - var(--size-4));
  border: 2px solid transparent;
}
.selected > .block-flex > div {
  border: 2px dashed var(--P75);
}
