.i-panel {
  border: var(--basic-border);
  color: var(--N900);
  padding: 1rem;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  gap: var(--size-4);
}

.i-panel-header {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-weight: 700;
  border-radius: 4px;
}

.i-panel-non-collapsible {
  visibility: collapse;
}
