.block-table {
  gap: var(--size-4);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.block-table__label {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.block-table__columns {
  display: flex;
  flex-direction: row;
  gap: var(--size-1);
}

.block-table > div:not(.block-table__label) {
  border: var(--layout-border-size, 1.5px) solid var(--N100);
  border-radius: var(--border-r2);
}

.block-table > div > div {
  border: none;
}

.selected > .block-table > div:not(.block-table__label) {
  border: var(--layout-border-size, 1.5px) dashed var(--P75);
}

.block-paginator {
  padding-top: var(--size-2);
}

.block-paginator > div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
}

.block-paginator .arrow {
  font-size: 16px;
  align-items: normal;
}

.block-paginator .page-item-active {
  background-color: #007b9e;
  color: #fff;
  border-radius: var(--border-r2);
}

.canvas[data-help-paddings='false'] .block-table .block-table__label {
  display: none;
}

.canvas[data-help-paddings='false'] .block-table .block-table__columns {
  gap: 0;
}

.canvas[data-help-paddings='false'] .block-table .block-table__columns .ui-table-root {
  border-radius: 0;
  border: none;
}

.canvas[data-help-paddings='false'] .block-table .block-table__columns .draggable {
  border-radius: 0;
}
