.block-table {
  .header-block__label {
    display: none;
  }
}

.block-table__columns {
  overflow-x: auto;
  > div {
    flex: 1 1 auto;
  }
}

.block-table__paginator {
  padding-top: var(--size-2);
  > div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
  }
  .page-item-active {
    background-color: #007b9e;
    color: #fff;
    border-radius: var(--border-r2);
  }
}

.canvas[data-help-paddings='false'] .block-table {
  .block-table__columns {
    gap: 0;
    border-radius: var(--border-r1);
    border: var(--basic-border);
    .block-column {
      border-radius: 0;
      border: none;
    }
    .draggable {
      border-radius: 0;
    }
  }
  .header-block__label {
    display: none;
  }
}

.block-table__columns:has(.block-column__filter[data-active='true']) .block-column__filter[data-active='false'] {
  display: block;
  visibility: hidden;
}
