.canvas {
  border: var(--basic-border);
  box-shadow: 0 0 0 1rem var(--N75);
  display: flex;
  flex-direction: column;
  margin: var(--size-4);
  overflow: auto;
}

.empty-block:before {
  margin: var(--size-1);
  background-color: var(--N300);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 30px;
  opacity: 0.3;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  content: 'Empty';
}
