.draggable {
  padding: var(--draw-padding);
  border: var(--select-border-size) solid transparent;
}
.draggable:hover:not(:has(.draggable:hover)) {
  background-color: var(--P50);
}
.draggable.selected,
.draggable.dragging {
  border: var(--activ-border);
  background-color: transparent;
}
.draggable.dragging {
  opacity: 0.7;
}
