.draggable {
  padding: var(--draw-padding, var(--size-2) var(--size-4));
  border: var(--select-border-size, 1px) solid transparent;
}
.draggable:hover:not(:has(.draggable:hover)) {
  background-color: var(--P50);
}
.draggable.selected,
.draggable.dragging {
  border: var(--activ-border);
  background-color: transparent;
}
.draggable.dragging {
  opacity: 0.5;
}
