.drop-zone .drop-zone-block {
  height: 0;
  transition: height 0.1s ease-out;
}
.drop-zone .drop-zone-block.visible {
  background: #f3f6fb;
  height: 20px;
  margin-block-start: 2px;
}
.drop-zone.is-drop-target .drop-zone-block {
  background: #88b0da;
  height: 30px;
  outline: 2px dashed #abc7e5;
}
