.palette-item {
  cursor: grab;
}

.palette-item-icon {
  background: var(--N50);
  border-radius: var(--border-r2);
  height: 32px;
  width: 60px;
}

.palette-item-icon svg path {
  stroke: var(--N600);
}
