.block-column {
  border-radius: var(--border-r1);
  border: var(--basic-border);

  background: var(--N25);
  > div {
    padding: var(--size-2);
  }
  .block-column__head {
    font-weight: 600;
    border-bottom: var(--basic-border);
  }
  .block-column__body .button-menu-header {
    justify-content: start;
  }
  .block-column__buttons {
    overflow-x: auto;
    > div {
      flex: 1 1 auto;
    }
  }
}
.block-column__filter {
  flex: 1 0 auto;
  padding: var(--size-2);
  color: var(--N700);
  border: var(--basic-border);
  background-color: var(--N25);
  outline: 0 none;
  font-size: 0.7rem;
  font-weight: normal;
  border-radius: var(--border-r2);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  &[data-active='false'] {
    display: none;
  }
}
